<div>
  <button class="btn btn-secondary" (click)="btn_disabled = !btn_disabled">
    Activar / Desactivar
  </button>

  <button
    [class.disabled]="btn_disabled"
    (click)="text_color = 'text-danger'"
    class="btn btn-danger"
  >
    Color rojo
  </button>
  <!-- Forma 2 -->
  <button
    [ngClass]="{
      disabled: btn_disabled,
      btn: true,
      'btn-primary': true
    }"
    (click)="text_color = 'text-primary'"
  >
    Color azul
  </button>
  <!-- Forma 3 -->
  <button
    [disabled]="btn_disabled"
    (click)="text_color = 'text-success'"
    class="btn btn-success"
  >
    Color verde
  </button>
</div>

<p [className]="text_color">Texto que cambia de color</p>
