<h1>{{ title }}</h1>

<!-- BASICOS -->
<app-contador></app-contador>
<app-botones> </app-botones>
<app-imagenes></app-imagenes>
<app-formulario></app-formulario>
<app-bucles></app-bucles>
<app-switch></app-switch>

<!-- FORMULARIOS  -->
<app-formulario2></app-formulario2>
<app-formulario-reactivo></app-formulario-reactivo>

<!-- COMUNICACION PADRE E HIJO -->

<!-- Forma 1 de comunicacion padre - hijo -->
<!-- <app-children valorAPasar="{{ valorPadreHijo }}"></app-children> -->

<!-- Forma 2. Lo unico que cambia es el corchete y las llaves. En los demas archivos no cambia. 
Esta forma de llamar al app-children no cambia de Hijo a Padre, solo de Padre a Hijo -->

<!-- <app-children [valorAPasar]="valorPadreHijo"></app-children> 
<p style="margin-left: 10px">Input Padre:</p>
<input
  type="text"
  class="form-control"
  [(ngModel)]="valorPadreHijo"
  style="width: 300px; margin: 20px 10px"
/>  -->

<!-- Forma para que cambie la informacion de Padre a Hijo, y de Hijo a Padre -->
<app-children
  [valorAPasar]="valorPadreHijo"
  (valorChange)="valorPadreHijo = $event"
></app-children>
<p style="margin-left: 10px">Input Padre:</p>
<input
  type="text"
  class="form-control"
  [(ngModel)]="valorPadreHijo"
  style="width: 300px; margin: 20px 10px"
/>
<hr />

<!-- SERVICIOS -->

<h2>Servicios</h2>
<app-add-messages></app-add-messages>
<app-list-messages></app-list-messages>
