<hr />
<div class="switch-container">
  <h4>Switch - Case</h4>

  <div class="input_button">
    <input
      type="text"
      placeholder="Ingrese el dia del numero de la semana (1-lunes,2-martes,etc.)"
      #dia_seleccionado
    />

    <button class="btn btn-primary" (click)="dia = dia_seleccionado.value">
      Mostrar dia
    </button>
  </div>

  <div class="dia_ingresado">
    <p class="dia_sem">El dia de la semana ingresado es:</p>

    <div [ngSwitch]="dia">
      <p *ngSwitchCase="'1'">Lunes</p>
      <p *ngSwitchCase="'2'">Martes</p>
      <p *ngSwitchCase="'3'">Miercoles</p>
      <p *ngSwitchCase="'4'">Jueves</p>
      <p *ngSwitchCase="'5'">Viernes</p>
      <p *ngSwitchCase="'6'">Sabado</p>
      <p *ngSwitchCase="'7'">Domingo</p>
      <p *ngSwitchDefault="">-</p>
    </div>
  </div>
</div>
