<hr />
<div class="btns-container">
  <button
    class="btn btn-primary"
    (click)="
      img =
        'https://images.pexels.com/photos/17039933/pexels-photo-17039933/free-photo-of-sierra-norte.jpeg?auto=compress&cs=tinysrgb&w=1600&lazy=load'
    "
  >
    Imagen 1
  </button>
  <!--  -->
  <button
    class="btn btn-primary"
    (click)="
      img =
        'https://images.pexels.com/photos/17593738/pexels-photo-17593738/free-photo-of-arca-de-bujara.jpeg?auto=compress&cs=tinysrgb&w=1600&lazy=load'
    "
  >
    Imagen 2
  </button>
</div>

<img [src]="img" width="300" />
